# ignore dot files by default
.*

# but don't ignore this file :)
!.gitignore

# gradle build folders
build

# eclipse build output
bin

# stuff we downloaded from the interwebs
/install/*
!/install/build.gradle
!/install/ECLIPSE-README

# apache folders
logs
/servers/*/temp/*
/servers/*/work/*
/servers/*/webapps/*
!/servers/*/webapps/host-manager/*
!/servers/*/webapps/manager/*
!/servers/*/webapps/WEB-INF/*
!/servers/*/webapps/WEB-INF/*

